* {
    --yellow: #ffcc01;
    --blue: #2c6cb5;
    --light-blue: #65a6f0;
}

@font-face {
    font-family: pokemon;
    src: url("../fonts/Pokemon.ttf");
}

.initial-window {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-height: 100vh;
    gap: 5vh;
}

.main-logo {
    width: 80%;
    min-width: 320px;
    max-width: 700px;
}

.game-title {
    font-family: pokemon;
    letter-spacing: .4rem;
    text-align: center;
    font-size: clamp(1.5rem, 5vw, 3rem);
    color: var(--yellow);
    line-height: 4rem;
}

.difficulty-selector {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.difficulty-btn {
    font-family: pokemon;
    color: var(--blue);
    background-color: var(--yellow);
    font-size: clamp(1rem, 2.5vw, 1.75rem);
    border-radius: 10px;
    border: 2px solid var(--blue);
    padding-bottom: 0.8ch;
    min-width: 8ch;
    width: 10vw;
    max-width: 16ch;
    cursor: pointer;
    transition: all 0.35s;
}

.difficulty-btn:hover {
    width: 30vw;
}

.help-btn {
    font-size: 2rem;
    background-color: var(--yellow);
    border-radius: 50%;
    border: 2px solid var(--blue);
    color: var(--blue);
    padding: 0 0.6ch;
    position: absolute;
    top: 2%;
    right: 2%;
    cursor: pointer;
    transition: all 0.2s;
}

.help-btn:hover {
    transform: scale(1.2);
}

.help-container {
    height: 100vh;
    width: 100vw;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.help-window {
    background: var(--blue);
    color: var(--yellow);
    font-family: pokemon;
    text-align: center;
    padding: 5%;
    border-radius: 20px;
    border: 5px solid var(--yellow);
    min-width: 50vw;
    max-width: 90vw;
    position: relative;
}

.close-btn {
    font-size: 1.5rem;
    background-color: var(--yellow);
    border-radius: 50%;
    border: 2px solid red;
    color: red;
    padding: 0 0.5ch;
    position: absolute;
    top: 6%;
    right: 1.5%;
    cursor: pointer;
}