.result-container {
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.win-background {
    background-image: url("../images/background-win.jpg");
}

.lose-background {
    background-image: url("../images/background-lose.jpg");
}

.win-background, .lose-background {
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    width: 728px;
    min-width: 50vw;
    max-width: 90vw;
    height: 410px;
    min-height: calc(50vw / 1.77);
    font-family: pokemon;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10%;
    font-size: 2.5rem;
}

.tryagain-btn {
    color: var(--blue);
    border: 2px solid var(--blue);
    border-radius: 10px;
    background: var(--yellow);
    font-family: pokemon;
    padding: 0 2ch;
    cursor: pointer;
    transition: all 0.2s;
}

.win-text {
    background: rgba(0, 255, 0, 0.40);
    padding: 0 2ch;
    border-radius: 10px;
    border: 3px solid rgba(0, 120, 0, 1);
    color: rgba(0, 120, 0, 1);
}

.lose-text {
    background: rgba(255, 0, 0, 0.40);
    padding: 0 2ch;
    border-radius: 10px;
    border: 3px solid rgba(120, 0, 0, 1);
    color: rgba(120, 0, 0, 1);
}

.tryagain-btn:hover {
    transform: scale(1.2);
}